Cython==0.29.21
h5py==2.10.0
imageio==2.6.1
ipython==7.9.0
ipython-genutils==0.2.0
matplotlib==3.1.1
nibabel==2.5.1
opencv-python
Pillow==6.0.0
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.18.4
scikit-image
scikit-learn
scipy==1.2.1
SimpleITK
six==1.14.0
tensorboard==1.13.1
tensorboardX==1.8
tensorflow==1.14.0
tensorflow-estimator==1.13.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
torch==1.4.0
torchfile==0.1.0
torchstat==0.0.7
torchsummary==1.5.1
torchvision==0.5.0
tqdm==4.36.1

